page-principal {
   

    ion-header{
       background:  #488D43;
    }
    
    .contentPasos{

       // background: url('../assets/imgs/bg.png');
        text-align: center;
          
        
        p{
          text-align: left;
        }
        
        img{
          text-align: center;
          width: 70%;
        }

        font-family: Verdana,sans-serif;
        font-weight: 300;
      }

}
